.CardPile {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.CardPile-Deck {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardPile-Controls {
  margin-top: 80px;
}