{% extends "base.html" %} {% block content %}

<h1 class="text-center p-4">Feedback App 📝</h1>
<h5 class="text-center"> Current user: {{data[1]}} </h5>

<!-- <h2>Current user <span><h2 class="text-success">{{data[1]}}</h2></span> </h2> -->

{% for feedback in data[0] %}
<div class="container ">
  <ul>
    <li>
      Title: {{feedback.title}}
    </li>
    <li>
      Content: {{feedback.content}}
    </li>
    <li>
      user: {{feedback.username}}
    </li>
  </ul>
</div>
{% endfor %}

{% endblock content %}
