.Nav {
  text-decoration: none;
  background-color: darkslateblue;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.Nav a {
  color: white;
  text-decoration: none;
}

.Nav a:hover{
  color: palevioletred;
}

.Nav a.active {
  color: deeppink;
}