<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <h1>List of all Users</h1>
    <h3>
      {% for user in users %}
      <a href="/userpage/{{user.id}}">{{user.first_name}}</a>
      {% endfor %}
    </h3>
    <h2>Create a New User</h2>
    <form action="/create-user" method="POST">
      <label for="first-name">First Name</label>
      <input
        name="first-name"
        id="first-name"
        type="text"
        placeholder="Eneter a first name"
      />
      <label for="last-name">Last name</label>
      <input
        name="last-name"
        id="last-name"
        type="text"
        placeholder="Enter a last name"
      />
      <label for="image-url">Image URL</label>
      <input
        name="image-url"
        id="image-url"
        type="url"
        placeholder="Provide an Image of this user"
      />
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
