
<div class="card m-3 pet-card" style="width: 18rem">
  <img src="/../static/placeholder.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title text-center">{{pet.name}}</h3>
    <!-- <p>Species: {{pet.species}}</p>
    <p>Age: {{pet.age}}</p>
    <p> Notes: {{pet.notes}}</p> -->

    {% if pet.available %}
      <h5 >{{pet.name}} is
      <span class="text-success"><b>available</b></span>
      </h5>
    {% else %}
      <h5>{{pet.name}} is
      <span class="text-danger">unavailable</span>
      </h5>
    {% endif %}
    <a type="button" class="text-center" href="/pet-info/{{pet.id}}/">More Info</a>
  </div>
</div>
