.Die {
  background-color: seagreen;
  border-radius: 0%;
  color: white;
  display: inline-block;
  width: 3rem;
  height: 2.25rem;
  padding-top: 0.75rem;
  text-align: center;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}