nav {
  background-color: darkslateblue;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  text-decoration-line: underline;
}